@model IEnumerable<acct.common.POCO.GST>

@{
    ViewBag.Title = "GST List";
    
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id='row@(item.Id)'>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            <a href='#' id='@item.Id' data-url="GST" hreflang="delete_href">Delete</a>
        </td>
    </tr>
}

</table>
<p></p>
<a class="button" href='@Url.Action("Create", "GST")'>New</a>
@section scripts{

}
