@model acct.common.POCO.Customer

<div class="detailview">
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", rows = "4" }, })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" }, })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" }, })
            @Html.ValidationMessageFor(model => model.Fax)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" }, })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.ContactName)
        </div>
        <div class="display-field">
            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" }, })
            @Html.ValidationMessageFor(model => model.ContactName)
        </div>
    </div>
   
</div>
